body {
    margin: 0;
    padding: 0;
    background-color: #000 !important; 
    overflow: hidden;
    box-sizing: border-box;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/lab_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.3;
    pointer-events: none; 
}

.card-body,
.card-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2); /* Add a light border to separate sections */
    padding: 15px; /* Add padding for better spacing */
}

.card1 .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card2 .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card3 .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card1,
.card2,
.card3 {
    /* background-color: rgba(160, 160, 160, 0.4);
    border-radius: 15px; 
    border: 0.5px solid rgba(0, 0, 0, 0.5); */
    background: rgba(255, 255, 255, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 15px; 
    backdrop-filter: blur(10px);
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

.card1:hover .card-header b {
    color: rgb(21, 255, 0); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.card2:hover .card-header b {
    color: rgb(255, 217, 0); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.card3:hover .card-header b {
    color: rgb(211, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.card-header b {
    color: #000000; 
    font-size: 1rem; 
    font-weight: bold; 
    text-transform: uppercase;
    /* transition: color 0.3s ease-in-out; */
}

.card1:hover,
.card2:hover,
.card3:hover {
    background: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 0 40px rgba(21, 255, 0);
    transition: box-shadow 0.2s ease-in-out;
    border: 0.3px solid rgba(21, 255, 0);
}

.card1 {
    transition: box-shadow 0.4s ease-in-out; 
}

.card1:hover {
    box-shadow: 0 0 40px rgb(21, 255, 0); 
    transition: box-shadow 0.2s ease-in-out;
    border: 0.3px solid rgba(21, 255, 0); 
}

.card2 {
    transition: box-shadow 0.4s ease-in-out; 
}

.card2:hover {
    box-shadow: 0 0 40px rgb(255, 217, 0); 
    transition: box-shadow 0.2s ease-in-out; 
    border: 0.3px solid rgb(255, 217, 0); 
}

.card3 {
    transition: box-shadow 0.4s ease-in-out;
}

.card3:hover {
    box-shadow: 0 0 40px rgb(211, 0, 0); 
    transition: box-shadow 0.2s ease-in-out; 
    border: 0.3px solid rgb(211, 0, 0); 
}

.mouse_move {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouse_move img {
    position: absolute;
    height: 80px;
    width: 80px;
    /* filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.7)); */
}


#img1 {
    top: 5%;
    left: 5%;
}

#img2 {
    top: 20%;
    left: 40%;
}

#img3 {
    top: 5%;
    left: 50%;
}

#img4 {
    top: 70%;
    left: 80%;
}

#img5 {
    top: 20%;
    right: 2%;
}

#img6 {
    top: 25%;
    left: 30%;
}

#img7 {
    top: 50%;
    left: 55%;
}

#img8 {
    top: 80%;
    left: 40%;
}

#img9 {
    bottom: 10%;
    left: 1%;
}

#img10 {
    bottom: 5%;
    right: 30%;
}

